@import "normalize";
@import "layout";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:400,900');
$text-color: #333;
$primary-color: #ffcc00;
$body-font: "Raleway", sans-serif;
$header-font: Roboto, sans-serif;



body{
font: 500 14px/1.7 $body-font;
color: $text-color;
}

/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	font: 700 14px/1.6 "Open Sans";
	color:  #666666;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid $primary-color;
	padding: 0 12px;
	align-items: center;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-team{
	padding: 110px 0;
	&__suptitle{
		font: 500 18px/1 $body-font;
		color:  #898f8f;
		text-align: center;
		letter-spacing: 0.02em;
		margin: 0 0 10px;
	}
	&__title{
		font: 900 60px/1 $header-font;
		color: $primary-color;
		text-align: center;
		margin: 0 0 48px;
		text-transform: uppercase;
		position: relative;
		&:after{
			content: "";
			display: block;
			max-width: 450px;
			height: 1px;
			margin: 50px auto 0;
			background: $primary-color;
		}
	}
	&__title-icon{
		position: absolute;
		bottom: 0;
		left: 50%;
		fill: $primary-color;
		transform: translate(-50%, 50%);
		background: #fff;
		box-shadow: 0 0 0 5px #fff;
	}
}

.ba-crewman{
	display: flex;
	&__image-col{
		flex-basis: 50%;
		border-right: 1px solid $primary-color;
		padding: 76px 80px 76px 68px;
		display: flex;
		align-items: center;

	}
	&__content-col{
		flex-basis: 50%;
		padding: 0 68px 0 80px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	&__content{
		margin: 12px 0 36px;
		position: relative;
		&:after{
			content: "";
			width: 50px;
			height: 4px;
			position: absolute;
			transform: translate(-50%, 142%);
			background: linear-gradient(to right, #fcca00 0%, #fcca00 15%, white 15%, white 25%, #fcca00 25%, #fcca00 75%, white 75%, white 85%, #fcca00 85%, #fcca00 100%);    background: linear-gradient(to right, #fcca00 0%, #fcca00 15%, white 15%, white 25%, #fcca00 25%, #fcca00 75%, white 75%, white 85%, #fcca00 85%, #fcca00 100%);
		}
	}
	&__image{
		padding: 15px;
		border: 1px solid $primary-color;
		position: relative;
		&:before, &:after{
			content: "";
			background: #FFF;
			position: absolute;
			z-index: 0;
		}
		&:before{
			left: 25%;
			right: 25%;
			top: -2px;
			bottom: -2px;
		}
		&:after{
			top: 25%;
			bottom: 25%;
			left: -2px;
			right: -2px;
		}
		img{
			display: block;
			border: inherit;
			position: relative;
			z-index: 1;
		}
	}
	&__name{
		font: 900 36px/1 $header-font;
		color:  #666666;
		position: relative;
		letter-spacing: 0.02em;
		margin-top: 0;
		&:after{
			content: "";
			background-color: $primary-color;
			position: absolute;
			width: 100px;
			height: 1px;
			left: 50%;
			margin-left: -50px;
			bottom: -85%;
		}
	}
	&__position{
		font: 400 24px/1 $body-font;
		color:  #666666;
		margin: 25px 0 30px;
	}
}
.ba-socials{
	a{
		color: #ccc;
		display: inline-block;
		border-radius: 50%;
		padding: 5px;
		border: 2px solid currentColor;
		width: 30px;
		height: 30px;
		margin-left: 2.5px;

		&:hover{
			color: $primary-color;
		}
		svg{
			fill: currentColor;
			width: 100%;
			height: 100%;
		}
	}
}

/* Rectangle Out */
.hvr-rectangle-out {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &:before{
  	content: "";
  	position: absolute;
  	z-index: -1;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background: $primary-color;
  	-webkit-transform: scale(0);
  	transform: scale(0);
  	-webkit-transition-property: transform;
  	transition-property: transform;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-timing-function: ease-out;
  	transition-timing-function: ease-out;
  }
  &:hover, &:focus, &:active{
  	color: white;
  }
  &:hover:before, &:focus:before, &:active:before{
  	-webkit-transform: scale(1);
  	transform: scale(1);
  }
}

